<h2><%= @data_flow&.name %></h2>

<dl>
  <dt>Source:</dt>
  <dd>
    <strong>Type:</strong> <%= @data_flow&.source_type %><br>
    <strong>Instance:</strong> <pre><%= @data_flow&.source.inspect %></pre>
  </dd>
  
  <dt>Sink:</dt>
  <dd>
    <strong>Type:</strong> <%= @data_flow&.sink_type %><br>
    <strong>Instance:</strong> <pre><%= @data_flow&.sink.inspect %></pre>
  </dd>
  
  <% if @data_flow&.runtime.present? %>
    <dt>Runtime:</dt>
    <dd>
      <strong>Type:</strong> <%= @data_flow&.runtime_type %><br>
      <strong>Instance:</strong> <pre><%= @data_flow&.runtime.inspect %></pre>
    </dd>
  <% end %>
  
  <dt>Status:</dt>
  <dd><%= @data_flow&.status %></dd>
  
  <dt>Last Run:</dt>
  <dd><%= @data_flow&.last_run_at %></dd>
</dl>

<%= button_to "Trigger", trigger_active_data_flow_data_flow_path(@data_flow), method: :post %>
<%= link_to "Back", active_data_flow.data_flows_path %>
